body {
    background-image: url("../Images/net.png");
    background-repeat: no-repeat;
    background-size: 40vw 100vh;
    position: relative;
    animation: changeImge 10s 2s infinite;
}
@keyframes changeImge {
    50% {
        background-image: url("../Images/net.png");
    }
    100% {
        background-image: url("../Images/audience.jpg");
    }
}
form {
    position: absolute;
    right: 100px;
    top: 10px;

    display: flex;
    flex-direction: column;

    width: 580px;
}
img {
    width: 80px;
    margin: 0 0 0 2vw;
}
.iconBallWihte {
    display: none;
}
hr {
    border: none;
    background-color: rgba(0, 128, 0, 0.637);
    height: 1px;
    width: 100%;
    margin: 1vh 0 0;
}
h1 {
    margin: 0 0 0 6vw;
    font-size: 4ch;
    font-weight: 500;
    font-family: "Commissioner", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0, "FLAR" 0, "VOLM" 0;
}
p {
    margin: 2vh 0 0 6vw;

    font-family: "Commissioner", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0, "FLAR" 0, "VOLM" 0;
}
input {
    height: 52px;
    width: 410px;
    text-indent: green;
    border-radius: 3px;
    border: 1px solid green;
    margin: 3vh 0 0 6vw;
    outline: none;
    font-size: medium;
}
input::placeholder {
    color: rgba(0, 128, 0, 0.533);
    font-size: medium;
    padding-left: 2vw;
}
.hrTwo {
    width: 70%;
    margin: 1vh 15% 0;
}
button {
    height: 45px;
    width: 30%;
    border-radius: 21px;
    border: none;
    background-color: rgb(49, 164, 104);
    margin: 3vh 0 0 calc(70% / 2);

    font-size: larger;
    color: white;

    cursor: pointer;
}
#signInBtn {
    border: 2px solid rgba(0, 128, 0, 0.637);
    background-color: transparent;
    color: rgba(0, 128, 0, 0.637);
    margin-top: 1vh;
}
.iconBallWihte {
    display: none;
}

h2 {
    position: absolute;
    left: 8vw;
    top: 5px;

    color: rgb(0, 95, 45);

    font-family: "Commissioner", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0, "FLAR" 0, "VOLM" 0;
}
h2 span {
    color: rgb(49, 164, 104);
}
a {
    position: absolute;
    right: 8vw;
    top: 27px;
    text-decoration: none;
    font-size: larger;
    font-weight: 500;

    color: rgb(0, 0, 0);

    font-family: "Commissioner", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0, "FLAR" 0, "VOLM" 0;
}
.sign-up-message {
    display: none;
}
@media (max-width: 1300px) {
    body {
        background-size: cover;
    }
    .iconBall {
        display: none;
    }
    .iconBallWihte {
        display: block;
    }
    form {
        backdrop-filter: blur(6px);
        border-radius: 20px;
        height: 489px;
        margin-top: 10vh;
        right: 25%;
    }
    h2 {
        color: rgb(189, 189, 189);
        left: 9vw;
    }
    h2 span {
        color: rgb(255, 255, 255);
    }
    a {
        color: white;
    }
    /*  */
    hr {
        background-color: rgb(255 255 255);
    }
    h1 {
        color: white;
    }
    p {
        color: white;
    }
    input {
        border: 1px solid white;
        box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.401);
    }
    #signInBtn {
        color: rgb(255, 255, 255);
        border-color: white;
    }
}
@media (max-width: 1100px) {
    form {
        right: 20%;
    }
    h2 {
        left: 10vw;
    }
}
@media (max-width: 950px) {
    form {
        right: 15%;
    }
    h2 {
        left: 11vw;
    }
}
@media (max-width: 850px) {
    form {
        right: 10%;
    }
    h2 {
        left: 12vw;
    }
}
@media (max-width: 750px) {
    form {
        right: 5%;
    }
    h2 {
        left: 13vw;
    }
}
@media (max-width: 650px) {
    body {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    form {
        width: 340px;
        position: relative;
    }
    input {
        width: 85%;
        margin-left: 5%;
        margin-right: 0;
    }
    .iconBallWihte {
        width: 50px;
    }
    h2 {
        font-size: medium;
    }
    a {
        font-size: medium;
    }
}

.input-container > div {
    margin: 2vh 6.5vw 0 6vw;
}
