body {
    font-family: "Commissioner", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.7);
    top: 0;
}

.container-head {
    display: flex;
    padding: 5px 0;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    flex-direction: row;
}

.img-logo {
    width: 210px;
}

.container-head .btns {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

nav ul {
    display: flex;
}

nav ul li a {
    padding: 10px;
    font-weight: bold;
    margin-right: 33px;
    color: black;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.container-head a {
    color: black;
}

.btns button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 8px 16px;
    margin-left: 14px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    background-color: #00df69;
    color: white;
}

.btns button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

/* Burger menu styles */
.burger-menu {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: black;
}

@media (max-width: 825px) {
    .container-head {
        flex-direction: column;
        align-items: flex-start;
    }

    .img-logo {
        width: 200px;
    }

    .burger-menu {
        display: block;
        margin-bottom: 10px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: left;
        margin-top: 6%;
    }

    .btns {
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
    }

    .btns button {
        width: 44%;
    }

    .resp-cont {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: url("../Images/ball.png") center/cover no-repeat;
    z-index: -1;
}

.container {
    border: 2px solid #005f2d;
    border-radius: 2rem;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    width: 40%;
}

h2,
p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    color: #000;
}

.button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

button {
    color: white;
    background-color: #005f2d;
    height: 2rem;
    width: 5rem;
    border: none;
    cursor: pointer;
}

/* Media Queries for responsiveness */
@media (max-width: 1400px) {
    .container {
        width: 50%;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 60%;
    }
}

@media (max-width: 992px) {
    .container {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 80%;
        padding: 1.5rem;
    }
    .button-container {
        padding-bottom: 1.5rem;
    }
}

@media (max-width: 576px) {
    .container {
        width: 90%;
        padding: 1rem;
    }
    .button-container {
        padding-bottom: 1rem;
    }
}

@media (max-width: 540px) {
    .container {
        width: 95%;
        padding: 0.5rem;
    }
    .button-container {
        padding-bottom: 0.5rem;
    }
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
